<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
    <title>KAKEIBO</title>
</head>
<body>
    <header>
        <h1>KAKEIBO</h1>
        <ul>
            <li>＋追加する</li>
            <li>ログアウト</li>
        </ul>
    </header>
    <main>
        <div class="monthclass">
            <div class="month_flex">
                <h2>○○○○年○○月</h2>
                <div class="page_change">＜</div>
                <div class="page_change">＞</div>
            </div>
        </div>
        <section>
            <div class="income">
                <h3>収入</h3>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>支給額</th>
                            <th>控除額</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>給与</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>通勤手当</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>税金/社会保険料</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>健康保険</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>厚生年金</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>雇用保険</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>所得税</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>住民税</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>総支給額</td>
                            <td colspan="2"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="expense">
                <div class="detail_expense">
                    <h3>支出(固定費)</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>金額</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>携帯代/通信費</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>固定費計</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="detail_expense">
                    <h3>支出(変動費)</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>金額</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>食費</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>外食費</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>交通費</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>交際費</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>医療費</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>雑費/日用品費</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>変動費計</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
        <div class="total">
            <div class="total_detail total_expense">
                <table>
                    <tr>
                        <td>総支出</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="total_detail total_all">
                <table>
                    <tr>
                        <td>総計</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>